$autocomplete-text-color: #777;

.autocomplete {
    display: none;
    position: absolute;
    background: white;
    margin-top: 1rem;
    border: 1px #555 solid;
    border-radius: 2rem;
    padding: 1rem 2rem;
    width: 97%;

    &__item {
        padding: .5rem 0 .5rem 5px;
        text-transform: uppercase;
        transition: .3s;
        color: $autocomplete-text-color;
        &:not(:last-child) {
            border-bottom: 1px $autocomplete-text-color solid;
        }
        &:hover {
            background: #efefef;
        }
    }
}
