@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    background: #f5f5f2;
}

.api-link {
    margin-top: 1em;
    text-align: right;
}

.weatherContainer {
    background: #fff;
    margin-top: 1em;
    padding: 2rem 0;
    border-radius: 2rem;
    border: 1px #555 solid;

    &.forecast {
        padding: 2em 3em;
    }
}

.header {
    background: #fff;
    padding: 1.5em 1em;
    margin-top: 1em;
    border-radius: 1.5em;
    border: 1px #555 solid;

    &_location {
        font-weight: 300;
        font-family: inherit;
    }
}

.header {
    &_location {
        margin-bottom: 0;
        width: 2em;

        &_icon {
            width: 2em;
            display: inline-block;
        }
    }
}

.search {
    position: relative;
    width: 80%;
    align-self: center;

    &_input {
        width: 100%;
        outline: none;
        border-radius: 30px;
        border: 1px #555555 solid;
        padding: 0.6em 4em 0.6em 1.5em;
    }

    &_button {
        position: absolute;
        width: 3em;
        right: 1.5em;
        padding: 0.5em;
        border: none;
        background: transparent;
        z-index: 20;
        outline: none;
    }

    &_icon {
        width: 100%;
    }
}


.weatherRow {
    &:not(:last-child) {
        border-bottom: 1px solid #aaa;
        padding-bottom: 1em;
    }

    &:not(:first-child) {
        padding-top: 2em;
    }
    &__item {
        text-align: center;
    }

    &__icon {
        img {
            background: rgb(239,239,239);
            background: linear-gradient(180deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%);
            width: 7em;
            height: 7em;
            border-radius: 100%;
            padding: 1em;
            border: 1px #ddd solid;
        }
    }
}


@import "spinner";
